<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" type="text/css" href="style.css?version=160">
</head>
<body>
<div class="container">
    <div class="row">
            <h1>Admin Panel</h1>
            <a th:href="@{/}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Powrót na stronę główną</a>
            <hr>
        </div>
    </div>
    <div class="row">
        <div th:replace="fragments/add :: add"></div>
    </div>
</div>
<div class="row">
    <div th:replace="fragments/table :: table"></div>
</div>


</body>
</html>